.page-header {
  border-bottom: 0px;
  text-align: center;
  margin-top: 0px;
}

#main-content {
  margin: auto;
}

.container {
  margin-left: 0px;
}

.container .jumbotron {
  border: 2px solid #3F0C1F;
  border-radius: 1px;
  padding: 0px 15px 0px 15px;
  text-align: center;
}


#header-nav {
  /*margin-top: 10px;*/
  background-color: #f6b222;
  border-radius: 0;
  padding-left: 0px;
  /*border: 1px solid #61122f;*/
}

.navbar-brand h1 { /* Restaurant name */
  color: #FFFFF0;
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
  /*border: 1px solid #61122f;*/
}

#nav-list {
  background: #E7E7E7;
  border: 1px solid #61122f;
}

.my-nav-divider {
  height: 1px;
  width:99%;
  display:block; /* for use on default inline elements like span */
  /*margin: 1px 0;*/
  margin: auto;
  overflow: hidden;
  background-color: #000000;

}

/* .visible-xs */
@media (max-width: 767px) {
}

/* .visible-sm */
@media (min-width: 768px) and (max-width: 991px) {
}

/* .visible-md */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* .visible-lg */
@media (min-width: 1200px) {
}

